<!doctype html>
<html>

<head>
  <title>MAIN</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../style/main.css">
  <link rel="stylesheet" type="text/css" href="../style/userlist.css">
</head>

<body>
  <div class='container'>
    <div class="group_nav">
      <h1>WAITING ROOM</h1>
    </div>

    <div class='Main_div'>
      <div class="chat_div">
        <div class='chat'>
          <div class="header">Chat</div>
          <div class="log">
            <ul class='ul_list'>

            </ul>
          </div>
          <div class='input_div'>
            <textarea id='input_msg' placeholder="메세지를 입력하세요"></textarea>
          </div>
        </div>
      </div>
      <div class="Right_div">

        <div class='login_div'>
          <form action="/revise" method="POST">
            <input type="hidden" name="email" value=<%=post.email%>>
            아이디 : <strong id='user_id'><%=post.email%></strong>                                          
            <br /><br />
            <input type="submit" value="내 정보" class="btn_right">
            <a href="/" class="btn_right">로그아웃</a>
          </form>
        </div>
       
        <div class="menu_div">
          <form action="/compile" method="POST">
            <input type="hidden" name="email" value=<%=post.email%>>
            <input type="submit" class="xxbtn" value="코딩 연습">
          </form>
      
          <form action="/codemirror" method="POST">
            <input type="hidden" name="email" value=<%=post.email%>>
            <input type="submit" class="xxbtn" value="코드 공유">
          </form>
        
          <form action="/board" method="POST">
            <input type="hidden" name="email" value=<%=post.email%>>
            <input type="submit" class="xxbtn" value="게 시 판">
          </form>
         
        </div>

        <div class="user_div" style="margin-bottom :30%;">
          <div class='flex-apply' style="justify-content:center;display:flex;">
            <div id='userCount'></div>
            <button id="list_refresh"><img src="../img/refresh.png" style="width:10px; height: 10px;"></button>
          </div>
          <textarea class="userLog" readonly></textarea>
        </div>

      </div>
    </div>
    <div class="chat_format">
      <ul>
        <li>
          <div class="sender">
            <span></span>
          </div>
          <div class="message">
            <span></span>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <script src="//code.jquery.com/jquery.min.js"></script>
  <script src="../build/chat.js"></script>
  <script src="../build/userlist.js"></script>
</body>

</html>