<!doctype html>
<html>
<head>
  <title>FirstPage</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../style/revise.css">
</head>
<body>
  <div class = "container">
    <div class = 'top'>
      <caption><h1>정보수정</h1></caption>
      <form action="/del_process" method="POST"  class = "btn_delfrom" onsubmit="return chse()">
        <input type="hidden" name="email" value =<%=post.email%>>
        <input type="submit" class="btn_del" value="회원탈퇴">
      </form>
    </div>
    <form action="/main" method="POST" onsubmit="return check()">
      <table>
        <tr>
          <td class='col1'>아이디</td>
          <td class='col2'><input type="text" id ="email" name="email" readonly value=<%=post.email%>></td>
        </tr>
        <tr>
          <td class='col1'>현재 비밀번호</td>
          <td class='col2'>
            <input id="pwd" type="password">
            <input type = "button" class= overlapPW value ="확인">
            <div id="output" name="output" readonly="readonly"></div>
          </td>
        </tr>
        <tr>
          <td class='col1'>비밀번호 수정</td>
          <td class='col2'><input type="password" name="password" placeholder='비밀번호' required></td>
        </tr>
        <tr>
          <td class='col1'>사용자 이름</td>
          <td class='col2'><input type="text" name="name" required value=<%=post.name%>></td>
        </tr>
        <tr>
          <td class='col1'>휴대전화</td>
          <td class='col2'><input type="number" name="phone" required value=<%=post.phone%>></td>
        </tr>
      </table>
      
      <div class ="btns">
        
        <input type="submit" value="수정하기" class="btn_btm" >
      </div>
    </form>
    <form action="/main" method="POST">
      <input type="hidden" name="email" value=<%=post.email%>>
      <input type="submit" value="수정취소"  class="btn_btm" >
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="../build/revise.js"></script>
</body>
</html>