<!DOCTYPE html>
<html>
<head>
  <title>코드공유</title>
  <link rel="stylesheet" href="/codemirror.css">
  <link rel="stylesheet" href="../style/style.css">
  <link rel="stylesheet" href="../style/userlist.css">
</head>

<body>
  <div class='container'>
    <div class='title'>
      <h1>StudyRoom</h1>
      <span id="status-span"></span>
      <div>아이디 : <strong id = 'email'><%=post.email%></strong></div>

      <form action="/main" method="POST">
        <input type="hidden" name="email" value=<%=post.email%>>
        <input type="submit" value="home"  class="btn">
      </form>
    
      <div class="user_div">
        <div class='flex-apply' style="justify-content:center;display:flex;">
          <div id='userCount'></div>
          <button class="list_refresh"><img src="../img/refresh.png" style="width:10px; height: 10px;"></button>
        </div>
        <textarea class="userLog" readonly></textarea>
      </div>
    </div>
    <div class='main'>
      <div class='codetext'>
        <div class='codetext_bar'>
          <select id="language" name="language" style="margin-bottom: 5px;">
            <option name="1" selected>C</option>
            <option name="2">C++</option>
            <option name="3">java</option>
            <option name="4">javascript</option>
            <option name="5">python</option>
          </select>
          <div>
            줄바꿈<input type="checkbox" id='wrap'>
          </div>
          <div>
            <button id ='codeLoad' class="btn">불러오기</button>
            <button id ='codeSave' class="btn">저장하기</button>
          </div>
          <input id="run" type="button" value="RUN" class="ajaxsend">
        </div>
        <div id="textarea" class="code"></div>
      </div>

      <div class='resizer'></div>
      <div class='resulttext'>
        <div class='codetext_bar'>
          <div>customer input<input type="checkbox" id='inputBox' checked></div>
        </div>
        <div class = 'inout'>
          <div id="input" class='result'></div>
          <div class= "resizer2" style='height: 8px; min-height: 8px;'></div>
          <div id="output" class='result'></div>
        </div>
      </div>
    </div>
  </div>
  <script src="//code.jquery.com/jquery.min.js"></script>
  <script src="../build/userlist.js"></script>
  <script src="../build/bundle.js"></script>
  <script src="../build/div_control.js"></script>
</body>

</html>