<!DOCTYPE html>
<html>

<head>
  <title>SHARE</title>
  <link rel="stylesheet" href="/codemirror.css">
  <link rel="stylesheet" href="../style/style.css">
  <link rel="stylesheet" href="../style/userlist.css">
</head>

<body>
  <div class='container'>
    <div class='title'>
      <button style=" border:none; background-color:#ddd; cursor: pointer;" id='ctrl'>
  <h1>StudyRoom</h1></button>
  <div>아이디 : 
    <strong id='user_id'><%=post.email%></strong>
  </div>
</br>

  <form action="/main" method="POST">
    <input type="hidden" name="email" value=<%=post.email%>>
    <input type="hidden" name="page" value="codemirror">
    <input type="submit" value="home" class="btn barbtn">
  </form>

  <div class="user_div">
    <div class='flex-apply' style="justify-content:center;display:flex;">
      <div id='userCount'></div>
      <button id="list_refresh" class='btn'><img src="../img/refresh.png" style="width:10px; height: 10px;"></button>
    </div>
    <textarea class="userLog" readonly></textarea>

  </div id="ex" style='width:180px;height:40px;'>
  </div>
  <div class='main'>
    <div class='codetext'>
      <div class='codetext_bar'>

        <div style="display: flex; gap:20px">
          <button onclick="upfs()" class="btn barbtn">UP</button>
          <button onclick="downfs()" class="btn barbtn">DOWN</button>
          <button id='wrap' class="btn barbtn">자동 줄바꿈</button>
        </div>

        <select id="language" name="language" style="margin-bottom: 5px;">
          <option name="1" selected>C</option>
          <option name="2">C++</option>
          <option name="3">java</option>
          <option name="4">javascript</option>
          <option name="5">python</option>
        </select>

        <div style="display: flex; gap:20px">
          <button id='register' class="btn barbtn">등록</button>
          <button id='codeSave' class="btn barbtn">저장</button>
          <input id="run" type="button" value="RUN" class="ajaxsend barbtn">
        </div>

      </div>
      <div id="textarea" class="code"></div>
    </div>

    <div class='resizer'></div>
    <div class='resulttext'>
      <div class='codetext_bar'>
        <div>input<input type="checkbox" id='inputBox' checked></div>
      </div>
      <div class='inout'>
        <div id="input" class='result'></div>
        <div class="resizer2" style='height: 8px; min-height: 8px;'></div>
        <div id="output" class='result'></div>
      </div>
    </div>
  </div>
  </div>
  <script src="//code.jquery.com/jquery.min.js"></script>
  <script src="../build/userlist.js"></script>
  <script src="../build/bundle.js"></script>
  <script src="../build/div_control.js"></script>
  <script>
    (function () {
      let ws;
      function init() {
        if (ws) {
          ws.onerror = ws.onopen = ws.onclose = null;
          ws.close();
        }
        ws = new WebSocket('ws://localhost:8000');
        ws.onopen = () => {
          const data = { 'content': "open" }
          ws.send(JSON.stringify(data));
          clickAction();
        }
        ws.onmessage = data => {
          let remsg = JSON.parse(data.data);
          if (remsg.content == "open") clickAction();
        }
        ws.onclose = () => { }
        function clickAction() {
          document.getElementById("list_refresh").click()
        }
      }
      init()
    })();
    //jquery 사용
    $(function () {
      var failMessage = function (text) {
        return alert(text + " 기능은 사용하실 수 없습니다."), false;
      },
        preventEvent = {
          "keydown": function (e) {
            var keycode = function (e) {
              return ('which' in e ? e.which : e.keyCode)
            }(e),
              ctrl_c = (e.ctrlKey && (keycode == 67)),
              ctrl_v = (e.ctrlKey && (keycode == 86)),
              ctrl_x = (e.ctrlKey && (keycode == 88));
            if (ctrl_c) return failMessage("복사하기");
            if (ctrl_v) return failMessage("붙여넣기");
            if (ctrl_x) return failMessage("잘라내기");
          }
          , "mousedown": function (e) {
            var rightClick = (e.button == 2);
            if (rightClick) return failMessage("우클릭"); 
          }
        };
      $(document).bind(preventEvent);
    }());
  </script>
</body>

</html>