<!doctype html>
<html>
<head>
  <title>회원가입</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../style/signup.css">
</head>

<body>
  <form action="/signup_process" method="POST" onsubmit = "return checkID()">
    <div class ="container">
      <h1><a href="/" style ="text-decoration:none;">회원가입</a></h1>
      <h4>아이디</h4>
      <input id ="email" type="text" name="email" class='input1' required>
      <div id="output" name="output"></div>
      <h4>비밀번호</h4>
      <input type="password" name="password" class='input1' required></td>
      <h4>이름</h4>
      <input type="text" name="name" class='input1' required></td>
      <h4>휴대전화</h4>
      <input type="number" name="phone" class='input1' placeholder = '전화번호 입력' required></td>   
      <div class ="create">
        <input type="button" value="가입취소" onclick= "location.href='/'" class="btn_btm"><br>
        <input type="submit" value="가입하기" class="btn_btm">
      </div>
    </div>
  </form>
  <script src="build/asyn.js"></script>
</body>

</html>