<!DOCTYPE html>
<html>

<head>
    <title>Checkbox</title>
</head>

<body>
    customer input <input type="checkbox" id="checkbox1" checked/>
    <div id="autoUpdate" class="autoUpdate">
        <textarea></textarea>
    </div>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script>
        $(document).ready(function () {
            $('#checkbox1').change(function () {
                if (this.checked)
                    $('#autoUpdate').fadeIn('slow');
                else
                    $('#autoUpdate').fadeOut('slow');
            });
        });


    </script>
</body>

</html>