<!DOCTYPE html>
<html>
<head>
    <title>POPUP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/show.css">
</head>
<body>
<h1><%=post.a%></h1>

<input type="text" id="checkthesound" value="hihi"><br>
<input type="text" id="two"><br>

<input type="button" onclick="window.close()" value="닫기" class ="btn">
<script>
    function getParameterByName(name) { 
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " ")); 
    }
    const url = new URL(window.location.href);
    // URLSearchParams 객체
    const urlParams = url.searchParams;
    document.write(urlParams.get('title')+'<br>'); // ekw000033653
    document.write(urlParams.get('email')+'<br>'); // ekw000033653
    document.write(urlParams.get('user')+'<br>'); // ekw000033653
    document.write(urlParams.get('time')+'<br>'); // ekw000033653

    setChildText();
    
</script>
</body>
</html>