<!DOCTYPE html>
<html>

<head>
  <title>WRITE</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../style/new.css">
</head>
<body>

  <body>
    <div class="container">
      <div class="group_nav">
        <h1>WRITE</h1>
      </div>
      <form action="/homework" method="POST">
        <input type="hidden" name="email" value=<%=post.email%>>
        <input type="hidden" name="process" value="new">
        
        <div class="form-group">
          <div>
            <label for="title" style="float: left;">제목</label>
            <label style="float:right;">작성자 : <strong id='email'><%=post.email%></strong></label>
          </div>
          <input type="text" id="title" name='title' class="form-control">
        </div>

        <div class="form-group">
          <label for="body">내용</label>
          <textarea id="body" name="body" rows="15" class="form-control"></textarea>
        </div>

        <div class='btmLine'>
          <a class="btn" onclick="location.href = 'javascript:history.back();'" style="color: white;">뒤로가기</a>
          <button id="codeSave" class="btn">등록</button>
        </div>
      </form>
    </div>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  </body>

</html>