<html>
  <head>
    <title>READ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/show.css">
  </head>
<body>
    <div class="container">
      <div class="group_nav">
        <h1>READ</h1>
      </div>
      <div class="form-group" style='display: block;'>
        <div>
          <label style="float:right;">/작성자 : <strong id='email'><%=post.email%></strong></label>
          <label style="float:right;">접속자 : <strong id='user'><%=post.user%></strong></label>
        </div>
        <div id="title" name='title' style="font-weight: bold;"><%=post.title%></div>
      </div>
      
      <div class="form-group">
        <textarea id="body" name="body" rows="15" class="form-control" readonly><%=post.body%></textarea>
      </div>
      <div class='btmLine'>
        <a class="btn" onclick="location.href = 'javascript:history.back();'" style="color: white;">뒤로가기</a>
        <div style="display: flex;">
          <form action="/board/edit" method="post">
            <input type="hidden" name="request" value="board">
            <input type="hidden" name="user" value=<%=post.user%>>
            <input type="hidden" name="email" value=<%=post.email%>>
            <input type="hidden" name="title" value="<%=post.title%>">
            <input type="hidden" name="time" value=<%=post.time%>>
            <a class="btn" style="color: white;" onclick="check()?this.parentElement.submit():null;">수정</a>
          </form>
          <div style='width:10px'></div>
          
          <form action="/board" method="post">
            <input type="hidden" name="user" value=<%=post.user%>>
            <input type="hidden" name="email" value=<%=post.email%>>
            <input type="hidden" name="title" value="<%=post.title%>">
            <input type="hidden" name="time" value=<%=post.time%>>
            <input type="hidden" name="process" value="delete">
            <a class="btn" style="color: white;" onclick="check()?(confirm('삭제하시겠습니까?')?this.parentElement.submit():null):null;">삭제</a>
          </form>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script>
        function check() {
          let writer = $('#email').text()
          let user = $('#user').text();
          if (writer === user) return true;
          else {
            $().ready(function () {
              Swal.fire({
                icon: 'warning',
                title: '권한이 없습니다.',
                text: '아이디를 확인해주세요',
              });
            });
            return false;
          }
        }
      </script>
</body>
</html>